root = true

[*]
trim_trailing_whitespace = false
insert_final_newline = true
charset = utf-8
indent_style = tab
indent_size = tab
end_of_line = lf

[*.{yaml,yml,cff}]
indent_style = space
indent_size = 2
